NEXT_PUBLIC_SUPABASE_URL=https://kxfndismlosqfjizxqko.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imt4Zm5kaXNtbG9zcWZqaXp4cWtvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM1ODkxMDIsImV4cCI6MjA4OTE2NTEwMn0.yKAmTSzPgtbDsPtqf9wAc46h7SiZg18bq57-mACQa4Q
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imt4Zm5kaXNtbG9zcWZqaXp4cWtvIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzU4OTEwMiwiZXhwIjoyMDg5MTY1MTAyfQ.pk0P_Yt9DfZeWvVZ1LpQVt4qLaScRlNc3LcuEz-ESvA
NEXT_PUBLIC_SITE_URL=http://localhost:3000
